jewel/src/main/java/META-INF/jewel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://jewel.com/schema/jewel" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://jewel.com/schema/jewel" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="registry">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />
					<xsd:attribute name="address" type="xsd:string" />
					<xsd:attribute name="check" type="xsd:boolean"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="protocol">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />
					<xsd:attribute name="port" type="xsd:int" />
					<xsd:attribute name="registry" type="xsd:string"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="application">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interface" type="xsd:string" />
					<xsd:attribute name="ref" type="xsd:string" />
					<xsd:attribute name="version" type="xsd:string" />
					<xsd:attribute name="registry" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />
					<xsd:attribute name="interface" type="xsd:string" />
					<xsd:attribute name="version" type="xsd:string" />
					<xsd:attribute name="registry" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="jewel-scan">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="base-package" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>   